#content{
  max-width: 1600px;
  margin: 0 auto;
}
nav a{
  text-align: center;
}
#hero-msg h1, #hero-msg h4 {
  text-align: center;
}
.button-box{
  text-align: center;
}
main section{
  text-align: center;
}
#background {
  height: 725px;
}
body{
  background-color: #c3bba2;
}
header{
  background-color: #7290bd;
}
nav a:hover{
  background-color: orange;
}
.book, .join{
  background-color: orange;
}
.book:hover, .join:hover{
  background-color:orange;
}
#background{
  background-color: #c3bba2;
}
.msg {
  background-color: orange;
}
footer{
  background-color: #7290bd;
}