p{
font-family: var(--paragraph-font);
color: var(--paragraph-color-on-white);
padding: 1em;
}
user agent stylesheet
p {
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
unicode-bidi: isolate;
}
body {
max-width: 960px;
margin: 0 auto;
padding: 4em;
font-size: 18px;
text-align: center;
background-color: #ACB0AB;
}
:root {
--primary-color: #396E94;
--secondary-color: #E7C24F;
--accent1-color: #A42212;
--accent2-color: white;
--heading-font: "IM Fell French Canon";
--paragraph-font: Lato, Helvetica, sans-serif;
--headline-color-on-white: #396E94;
--headline-color-on-color: white;
--paragraph-color-on-white: #396E94;
--paragraph-color-on-color: white;
--paragraph-background-color: #396E94;
--nav-link-color: #396E94;
--nav-background-color: #D4AC0D;
--nav-hover-link-color: white;
--nav-hover-background-color: #396E94;
}
injected stylesheet
:host, :root {
--rem: 16;
}
.primary{
    background-color: #ACB0AB;
}
.secondary{
    background-color: #454B54;
}
.A1{
    background-color: #53698a;
}
.A2{
    background-color: #463829;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.teko-<uniquifier> {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
h1{
    font-family: teko, Arial, Helvetica, sans-serif;
}