
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

<style>
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>

#background {
    height: 725px;
    background-color: #c3bba2;
  }
body{
    background-color: #c3bba2;
    padding: 0;
    margin: 0;
  }
.book, .join{
    background-color: #c3bba2;
    color:#141518;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }
.book:hover, .join:hover{
    background-color:#141518;
    color: #48463a;
  }
.button-box{
    text-align: center;
  }
.card-img{
  width: 600px;
  border: 10px solid #48463a;
}
#content{
    max-width: 1600px;
    margin: 0 auto;
  }
footer{
    background-color: #454B54;
    color: #7290bd;
    padding: 25px 50px;
    margin-top: 200px;
  }
    footer p{
        font-size: 20px;
    }
        footer p a:hover{
            text-decoration: underline;
        }
    footer a{
    color: #c3bba2;
    text-decoration: none;
    }
        footer a:hover{
        color: #7290bd;
        }
    footer .social img{
      padding-top: 15px;
    }
 header{
    background-color: #7290bd;
  }
#hero-img{
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
  }
.home-title{
  color: #454B54;
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
}
h1{
  font-family: Bebas Neue,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
  font-family: Bebas Neue,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #141518;
  margin: 0;
}
h3{
  font-family: teko, Arial, Helvetica, sans-serif;
  color: #141518;
}
h4{
  color: #141518;
  font-family: teko, Arial, Helvetica, sans-serif;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.kyack-card{
  margin: 200px 0px;
}
.logo{
    width:80px;
}
#logo_link{
  padding-top:5px;
}
main section{
  text-align: center;
}
    main section img{
      box-sizing: border-box;
    }
.msg {
    background-color: #454B54;
    line-height: 1.5em;
    padding: 35px;
  }
    .msg h2, h3{
    color: #7290bd;
    }
    .msg p{
    color:#c3bba2;
    font-size: .8em;
    padding-bottom: 15px;
     }
.mountains{
  width: 70%;
}
nav{
    min-width: 20;
}
    nav a{
    text-align: center;
    color: #141518;
    text-decoration: none;
    padding: 35px;
    }
        nav a:hover{
         background-color: #454B54;
         color: #7290bd;
        }
p{
  font-family: teko, Arial, Helvetica, sans-serif;
}
.rafting-card{
  margin: 200px 0px;
}
.summer-camp-card{
  margin: 200px 0px;
}
.tubing-rafting{
  margin: 200px 0px;
}