
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


#background {
    height: 725px;
    background-color: #c3bba2;
    grid-column: 1/11;
    grid-row: 4/9;
  }
body{
    background-color: #c3bba2;
    padding: 0;
    margin: 0;
    max-width: 1280px;
  }

.book, .join{
    background-color: #c3bba2;
    color:#141518;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
  }
  .book:hover, .join:hover{
    background-color:#141518;
    color: #48463a;
  }
.button{
    position: center;
    text-align: center;
    width: 100%;
  }
.catch-msg{
  max-width: 100%;
}
.card-img{
  transition: transform .5s;
}
  .card-img:hover{
    opacity: .6;
    transform: scale(1.1);
  }
  .card-img, .mountains{
  border: 10px solid #48463a;
  width: 100%;
  box-shadow: 5px 5px 10px #6f7364;
  }
#content{
    max-width: 1600px;
    margin: 0 auto;
  }
footer{
    background-color: #454B54;
    color: #7290bd;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
    footer p{
        font-size: 20px;
    }
        footer p a:hover{
            text-decoration: underline;
        }
    footer a{
    color: #c3bba2;
    text-decoration: none;
    }
        footer a:hover{
        color: #7290bd;
        }
    footer .social img{
      padding-top: 15px;
    }
header{
    background-color: #7290bd;
    position: fixed;
    top:0px;
    display: grid;
    grid-template-columns: 150px auto;
    z-index: 4;
    margin: 0;
    padding: 0;
    width: 100%;
  }
#hero{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin: 0;
  padding: 0;
}
  #hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: 1;
    position: relative;
  }
  #hero-img{
    width: 100%;
    margin-top: 100px;
    border-bottom: #454B54  solid 20px;
    }
  #hero-msg{
    grid-column: 2/3;
    grid-row: 2/3;
    z-index: 2;
    border: solid #454B54 5px;
    background-color: rgb(114, 144, 189, 70%);
    margin-bottom: 20px;
  }
  #hero-msg h1, #hero-msg h4 {
    text-align: center;
    }
.home-title{
  color:#c3bba2;
  font-weight: bold;
  font-size: 2em;
  margin-top: 10px;
}
.home-grid{
  display: grid;
  grid-template-columns: repeat(10, 10%);
}
 .home-grid{
  text-align: center;
  }
     .home-grid section img{
      box-sizing: border-box;
      }
h1{
  font-family: Bebas Neue,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
  font-family: Bebas Neue,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #141518;
  margin: 0;
}
h3{
  font-family: teko, Arial, Helvetica, sans-serif;
  color: #141518;
}
h4{
  color: #141518;
  font-family: teko, Arial, Helvetica, sans-serif;
}
.icon{
    width: 80px;
    padding-top: 10px;
}
.kyack-card{
  margin: 200px 0px;
  grid-column: 2/4;
  grid-row: 2/3;
}
.logo{
    width:80px;
}
#logo_link{
  padding-top:5px;
  justify-self: center;
  align-self: center;
} 
.msg {
    background-color: #454B54;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364
  }
    .msg h2, h3{
    color: #7290bd;
    }
    .msg p{
    color:#c3bba2;
    font-size: .8em;
    padding-bottom: 15px;
     }
.mountains{
  grid-column: 2/7;
  grid-row: 5/8;
}
nav{
    min-width: 20px;
    display: flex;
    justify-content: space-around;
}
    nav a{
    text-align: center;
    color: #141518;
    text-decoration: none;
    padding: 35px;
    }
        nav a:hover{
         background-color: #454B54;
         color: #7290bd;
        }
p{
  font-family: teko, Arial, Helvetica, sans-serif;
}
 
.rafting-card{
  margin: 200px 0px;
  grid-column: 5/7;
  grid-row: 2/3;
}
.summer-camp-card{
  margin: 200px 0px;
  grid-column: 8/10;
  grid-row: 2/3;
} 






@media screen and (max-width: 900px) {
  .hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  #hero-msg h1 {
      color: #6f7364;
  }
  .home-title {
      font-size: 25px;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }

}


  
  /* Pricing page CSS*/
/* Catch Section Styling */
#catch-msg2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: self-start;
  grid-column: 1/11;
  grid-row: 1/2;
  margin-top: 100px;
  padding: 20px;
}

.boat {
  height: 300px;
  width: auto;
  margin: 20px;
  object-fit: cover;
  float: left;
  border: solid #454B54 5px;
}

.boop {
  height: 290px;
  width: auto;
  margin: 20px;
  padding: 1rem;
  border-color: #454B54;
  border-radius: 15px;
  border-style: solid;
  background-color:#454b5430;
}

.boop h1 {
  font-size: 2.5rem;
  color: #586d8d;
  margin-bottom: 1rem;
  border-bottom:#48463a 4px solid;
  background-color: #48463a51;
  padding-left: 10px;
}

.boop p {
  font-size: 1rem;
  line-height: 1.5;
  color: #141518;
}

/* Gallery Section Styling */
.gallery {
  text-align: center;
  margin-top: 2rem;
  grid-column: 2/10;
  grid-row: 2/3;
}

.gallery img {
  width: 100%;
  align-self: center;
}

/* Pricing Section Styling */
.price {
  padding: 2rem;
  background-color: #c3bba2;
  margin-top: 2rem;
  border-radius: 10px;
  background-color: rgba(114, 144, 189, 0.276);
}

.price h1 {
  font-size: 2rem;
  color: #454B54;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom:#48463a 4px solid;
}

.price p {
  font-size: 1rem;
  line-height: 1.5;
  color: #141518;
  text-align: center;
}
.price-box {
  background-color: #454B54;
  border-radius: 20px;
  border-color: #454B54;
  padding: 1rem;
  margin-bottom: 1rem;
  height: fit-content;
  display:flex;
  flex-direction: column;
  align-content: space-evenly;
  text-align: center;
  width: 200px;
}
#price-box{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.price-box h2 {
  font-size: 2.3rem;
  font-family: Bebas Neue,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #9b9583;
  margin-bottom: 0.5rem;
}

.price-box h3 {
  font-size: 1.5rem;
  font-family: teko, Arial, Helvetica, sans-serif;
  color: #7290bd;
  margin-bottom: 0.5rem;
}

.price-box ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.price-box li {
  font-size: 0.9rem;
  color: #7290bd;
  margin-bottom: 0.5rem;
}