/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  display:grid;
  grid-template: 1fr 1fr;
  justify-items: center;
  gap: 20px;
}
.red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;
} 
.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 

} 
.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
  grid-column: 1/3;
} 
/* Activity 2 styles */ 
.content2 {
  display:grid;
  gap: 0px;
  margin: 0;
  padding:0;
  grid-template: 50px 50px 50px 50px 50px;
  width: 400px;
}
.red2 {
  width: 100px; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;
  grid-row: 1/3;
  margin: 0;
  padding: 0;
  z-index: 1;
} 
.green2 { 
  width: 100px; 
  height: 100px; 
  background-color: green;
  grid-column: 2/4; 
  grid-row: 2/4; 
  margin: 0;
  padding: 0;
  z-index: 2;
} 
.yellow2 {
  width: 100px; 
  height: 100px; 
  background-color: gold; 
  grid-column: 3/5;
  grid-row: 3/5;
  margin: 0;
  padding: 0;
  z-index: 3;
} 
.blue2 {
  width: 100px; 
  height: 100px; 
  background-color: blue; 
  grid-column: 4/5;
  grid-row: 4/5;
  margin: 0;
  padding: 0;
  z-index: 4;
} 
/* Activity 3 styles */ 
.content3 {
  display: grid;
  grid-template-columns: 40%, 40%;
  grid-column-gap: 20%;
  justify-content: center;
}
.red3 {
  height: 100px; 
  background-color: red; 
  grid-area: 1/1/1/3;
  
} 
.green3 {
  width: 300px; 
  height: 200px; 
  background-color: green;
  grid-column: 1/2;
} 
.yellow3 {
  width: 300px; 
  height: 200px; 
  background-color: gold; 
  grid-column: 2/3;
} 
.blue3 {
  height: 100px; 
  background-color: blue; 
  grid-area: 3/1/3/3;
} 
/* Activity 4 styles */ 
.content4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: 300px;
  width: 200px;
  gap: 0px;
  margin: 0;
  padding: 0;
}
.red4 {
  width: 200px; 
  height: 300px; 
  background-color: red; 
  grid-column: 1/2;
  grid-row: 1/4;
  margin: 0;
  padding: 0;
} 
.green4 {
  width: 200px; 
  height: 100px; 
  background-color: green; 
  grid-area: 1/2/1/3;
  margin: 0;
  padding: 0;
} 
.yellow4 {
  width: 200px; 
  height: 100px; 
  background-color: gold; 
  grid-area: 2/2/2/3;
  margin: 0;
  padding: 0;
} 
.blue4 {
  width: 200px; 
  height: 100px; 
  background-color: blue; 
  grid-area: 3/2/3/3;
  margin: 0;
  padding: 0;
} 
/* Activity 5 styles */ 
.content5 {
  /* This is the parent of the activity 5 boxes. */
  height: 500px;
  display: block;

}
.red5 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
} 
.green5 { 
  width: 200px; 
  height: 200px; 
  background-color: green; 
  float: left;

} 
.yellow5 {
  width: 100%; 
  height: 300px; 
  background-color: gold; 

} 
.blue5 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
} 
/* Activity 6 styles */ 
.content6 {
  /* This is the parent of the activity 6 boxes. */
  display: grid;
  grid-template-columns: repeat(6, 50px);
  gap: 0px;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 300px;
  text-align: center;
}
.red6 {
  width: 200px; 
  height: 100px; 
  background-color: red;
  grid-column: 1/4;
  grid-row: 2/4;
  z-index: 0;
  margin: 0;
  padding: 0;
} 
.green6 {
  width: 100px; 
  height: 100px; 
  background-color: green; 
  grid-column: 1/2;
  grid-row: 5/7;
  z-index: 8;
  margin: 0;
  padding: 0;
} 
.yellow6 {
  width: 100px; 
  height: 200px; 
  background-color: gold;
  grid-column: 5/6;
  grid-row: 4/7;
  z-index: 6;
  margin: 0;
  padding: 0;
} 
.blue6 {
  width: 200px; 
  height: 200px; 
  background-color: blue; 
  grid-column: 2/5;
  grid-row: 3/6;
  z-index: 1;
  margin: 0;
  padding: 0;
} 


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}